<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>

	<!-- La page d'accueil est index-->
	<!-- index est une url qui est prise en charge pas IndexServlet -->
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<listener>
		<listener-class>fr.humanbooster.fx.englishbattle.listeners.SessionListener</listener-class>
	</listener>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/erreur404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/erreur500.jsp</location>
	</error-page>

	<filter>
		<filter-name>EncodageFilter</filter-name>
		<filter-class>fr.humanbooster.fx.englishbattle.filters.EncodageFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EncodageFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>